* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}



.cover {
    --x: -200px;
    --y: -60px;
    top: var(--y);
    left: var(--x);
    position: fixed;
    background-color: white;
    width: 2800px;
    height: 1000px;
}

.content {
    --x: -200px;
    --y: -60px;
    top: var(--y);
    left: var(--x);
    position: fixed;
    width: 2800px;
    height: 1000px;
}