<!DOCTYPE html>
<html>

<head>
    <title>Check Website <%= pageTitle %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <link rel="stylesheet" href="./css/style.css" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=block" rel="stylesheet" />
</head>

<body>
    <audio id="audio" src="audio/07070224.wav" type="audio/wav" onmousedown="mouseDown()" onmouseup="mouseUp()"></audio>
    <div class="banner"></div>
    <div class="content">
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/videoseries?list=PLj540rmpQSClIuZ_5B94U5Djkz-vzfhJO&autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&controls=0&showinfo=0"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/videoseries?list=PLj540rmpQSClIuZ_5B94U5Djkz-vzfhJO&autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&controls=0&showinfo=0"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    </div>
</body>

</html>
<!DOCTYPE html>
<html>

<head>
    <title>Check Website <%= pageTitle %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <link rel="stylesheet" href="./css/style.css" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=block" rel="stylesheet" />
</head>

<body>
    <audio id="audio" src="audio/07070224.wav" type="audio/wav" onmousedown="mouseDown()" onmouseup="mouseUp()"></audio>
    <div class="banner"></div>
    <div class="content">
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/videoseries?list=PLj540rmpQSClIuZ_5B94U5Djkz-vzfhJO&autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&controls=0&showinfo=0"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/videoseries?list=PLj540rmpQSClIuZ_5B94U5Djkz-vzfhJO&autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&controls=0&showinfo=0"
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    </div>
</body>

</html>